script(src='/config.js')
link(rel='stylesheet', type='text/css', href='/style.css')
img#car.car(src="/images/toyota.png", alt="car")

ul.color_list
  span Color

  li.color.grey(data-img-path="/images/toyota.png")
  li.color.blue(data-img-path="/images/toyota.png")
  li.color.red(data-img-path="/images/toyota.png")
  li.color.red(data-img-path="/images/toyota.png")
  li.color.red(data-img-path="/images/toyota.png")

  button#pullbarButton(onclick="pullbar()") Pullbar

.calc
  .h2.calc_item.model_name Toyota Land Cruiser
  

