script(src='/config.js')
link(rel='stylesheet', type='text/css', href='/style.css')
img#car.car(src="/images/toyotaWhite.png", alt="car")

ul.color_list
  span Color

 
  li.color.white(data-img-path="/images/toyotaWhite.png")
   li.color.grey(data-img-path="/images/toyotaGrey.png")
  li.color.black(data-img-path="/images/toyotaBlack.png")


  button#pullbarButton(onclick="pullbar()") Pullbar

.calc
  .h2.calc_item.model_name Toyota Land Cruiser
  

